.navbar{
    background-color: black;
}
.navbar-brand{
    margin-left: 3%;
}
.logo{
    overflow: hidden;
    background-color: #ddf7fa;
    block-size: fit-content;
    float: right;
    border-radius: 1000px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    height: 30px;
    width: auto;
    object-fit: cover;
}
.sContainer{
    background-color: #ddf7fa;
    text-align: center;
    margin-top: 10%;
    margin-left: 21%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 60%;
    border-radius: 10px;
}
.cfContainer-fluid{
    margin-left: 75%;
    width: 7%;
    background-color: #ddf7fa;
    border-radius: 100px;
}
.cfContainer-fluid a{
    color: black;
    text-align: center;
}